@charset "UTF-8";

html,
body{
	overflow: hidden;
}

/* ==========================================================================
 * banner
 * ========================================================================== */

.banner{
	width: 970px;
	height: 200px;
	margin: auto;
	border: 1px solid;
	overflow: hidden;
	position: relative;

	&--branding{
		//width: 1200px;
		//height: 800px;
		border: 0;
	}

	&__boy{
		position: absolute;
		top: 230px;
		right: -130px;
		transform-origin: 0 0;

		&--branding{
		right: 0px;
			transform-origin: 186px 0%;
		}
	}

	&__href{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__repeat{
		position: absolute;
		top: 20px;
		right: 20px;
		opacity: 0;
	}

	&__text{
		position: absolute;
		
		&--1{
			display: block;
			width: 410px;
			top: -120px;
			left: 0;
			right: 0;
			margin: auto;
		}

		&--2{
			top: 30px;
			left: 50px;
			opacity: 0;
			display: block;
			width: 534px;
			left: 0;
			right: 0;
			margin: auto;
		}
	}

	&__start{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
	}

	&__final{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
	}
}

/* ==========================================================================
 * boy-branding
 * ========================================================================== */

.boy-branding{
	position: absolute;
	top: 190px;
	left: 50%;
	margin: 0 0 0 410px;
}

/* ==========================================================================
 * repeat
 * ========================================================================== */


.repeat{
	position: absolute;
	top: 20px;
	right: 50%;
	margin-right: -465px;	
	opacity: 0;
	z-index: 150;
	text-indent: -9999px;
	display: block;
	border: 0;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	@include sprite($repeat);
	&:after{
		content: '';
		position: absolute;
		top: 2px;
		right: 2px;
		@include sprite($arrow);
		transition: all .5s;
		transform: rotate(0deg);
	}
	&:hover:after{
		transform: rotate(-359deg);
	}
}

/* ==========================================================================
 * final
 * ========================================================================== */


.final{
	padding: 10px 0 0;

	&__logo{
		display: block;
		margin: 0 auto 12px;
		text-indent: -9999px;
		@include sprite($logo);
	}

	&__text{
		display: block;
		margin: 0 auto 7px;
	}

	&__button{
		display: block;
		margin: 0 auto 0;
		text-indent: -9999px;
		@include sprite($btn);
	}
}



/* ==========================================================================
 * link
 * ========================================================================== */


.link{
	width: 970px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;

	&--branding{
		bottom: 0;
		width: auto;
		height: auto;
	}
}

