@charset "UTF-8";

html,
body{
	overflow: hidden;
}

/* ==========================================================================
 * banner
 * ========================================================================== */

.banner{
	width: 970px;
	height: 200px;
	margin: auto;
	border: 1px solid;
	overflow: hidden;
	position: relative;

	&__boy{
		position: absolute;
		top: 230px;
		right: -130px;
		transform-origin: 0 0;
	}

	&__href{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__repeat{
		position: absolute;
		top: 20px;
		right: 20px;
		opacity: 0;
	}

	&__text{
		position: absolute;
		
		&--1{
			top: -120px;
			left: 100px;
		}

		&--2{
			top: 30px;
			left: 50px;
			opacity: 0;
		}
	}

	&__start{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
	}

	&__final{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
	}
}

/* ==========================================================================
 * repeat
 * ========================================================================== */


.repeat{
	position: absolute;
	top: 20px;
	right: 50%;
	margin-right: -465px;	
	opacity: 0;
	z-index: 150;
	text-indent: -9999px;
	display: block;
	border: 0;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	@include sprite($repeat);
	&:after{
		content: '';
		position: absolute;
		top: 2px;
		right: 2px;
		@include sprite($arrow);
		transition: all .5s;
		transform: rotate(0deg);
	}
	&:hover:after{
		transform: rotate(-359deg);
	}
}

/* ==========================================================================
 * final
 * ========================================================================== */


.final{
	padding: 10px 0 0;

	&__logo{
		display: block;
		margin: 0 auto 12px;
		text-indent: -9999px;
		@include sprite($logo);
	}

	&__text{
		display: block;
		margin: 0 auto 7px;
	}

	&__button{
		display: block;
		margin: 0 auto 0;
		text-indent: -9999px;
		@include sprite($btn);
	}
}

/* ==========================================================================
 * fullscreen
 * ========================================================================== */


.fullscreen{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-width: 970px;
	overflow: hidden;

	&__forest{
		position: relative;
		z-index: 50;
	}
}

/* ==========================================================================
 * forest
 * ========================================================================== */


.forest{
	height: 560px;
	overflow: hidden;

	&__table{
		position: absolute;
		left: 50%;
		top: 91px;
		margin-left: 206px;
		display: none;

		&--visible{
			display: block;
		}
	}

	&__item{
		position: absolute;
		top: 0px;
		left: 50%;
		margin-left: -2800px;
		transform-origin: 50% 0%;
		//opacity: .3;
		display: none;

		&--visible{
			display: block;
		}

		&--b1{
			top: 50px;
			margin-left: 206px;
		}

		&--b2{
			top: 38px;
			margin-left: 206px;
		}

		&--b3{
			top: 24px;
			margin-left: 206px;
		}

		&--b4{
			top: 21px;
			margin-left: 206px;
		}

		&--b5{
			top: 22px;
			margin-left: 189px;
		}

		&--b6{
			top: 18px;
			margin-left: 161px;
		}

		&--b7{
			top: 14px;
			margin-left: 140px;
		}

		&--b8{
			top: 5px;
			margin-left: 86px;
		}

		&--b9{
			top: 31px;
			margin-left: 5px;
		}

		&--b10{
			top: 40px;
			margin-left: -45px;
		}

		&--b11{
			top: 40px;
			margin-left: -105px;
		}

		&--b12{
			top: 40px;
			margin-left: -175px;
		}

		&--b13{
			top: 40px;
			margin-left: -305px;
		}

		&--b14{
			top: 40px;
			margin-left: -405px;
		}

		&--b15{
			top: 40px;
			margin-left: -505px;
		}

		&--b16{
			top: 40px;
			margin-left: -655px;
		}

		&--b17{
			top: 40px;
			margin-left: -855px;
		}

		&--b18{
			top: 40px;
			margin-left: -955px;
		}

		&--b19{
			top: 40px;
			margin-left: -1055px;
		}

		&--b23{
			top: 250px;
			margin-left: -1100px;
		}

		&--b24{
			top: 250px;
			margin-left: -950px;
		}

		&--b25{
			top: 250px;
			margin-left: -800px;
		}

		&--b26{
			top: 250px;
			margin-left: -700px;
		}

		&--b27{
			top: 240px;
			margin-left: -500px;
		}

		&--b28{
			top: 250px;
			margin-left: -350px;
		}

		&--b29{
			top: 250px;
			margin-left: -150px;
		}

		&--b30{
			top: 250px;
			margin-left: 50px;
		}

		&--b31{
			top: 250px;
			margin-left: 150px;
		}

		&--b32{
			top: 240px;
			margin-left: 350px;
		}

		&--b33{
			top: 250px;
			margin-left: 500px;
		}

		&--b34{
			top: 250px;
			margin-left: 700px;
		}

		&--b35{
			top: 250px;
			margin-left: 900px;
		}

	}
}

/* ==========================================================================
 * link
 * ========================================================================== */


.link{
	width: 970px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
}

