@charset "UTF-8";

/* ==========================================================================
 * banner
 * ========================================================================== */

.banner{
	width: 970px;
	height: 200px;
	margin: auto;
	border: 1px solid;
	overflow: hidden;
	position: relative;

	&__boy{
		position: absolute;
		top: 230px;
		right: -130px;
		transform-origin: 0 0;
	}

	&__href{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__repeat{
		position: absolute;
		top: 20px;
		right: 20px;
		opacity: 0;
	}

	&__text{
		position: absolute;
		
		&--1{
			top: -120px;
			left: 100px;
		}

		&--2{
			top: 30px;
			left: 50px;
			opacity: 0;
		}
	}

	&__start{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
	}

	&__final{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
	}
}

/* ==========================================================================
 * repeat
 * ========================================================================== */


.repeat{
	text-indent: -9999px;
	display: block;
	border: 0;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	@include sprite($repeat);
	&:after{
		content: '';
		position: absolute;
		top: 2px;
		right: 2px;
		@include sprite($arrow);
	}
	&:hover:after{
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
		transform: rotate(-359deg);
	}
}

/* ==========================================================================
 * final
 * ========================================================================== */


.final{
	padding: 10px 0 0;

	&__logo{
		display: block;
		margin: 0 auto 12px;
		text-indent: -9999px;
		@include sprite($logo);
	}

	&__text{
		display: block;
		margin: 0 auto 12px;
	}

	&__button{
		display: block;
		margin: 0 auto 0;
		text-indent: -9999px;
		@include sprite($btn);
	}
}

/* ==========================================================================
 * fullscreen
 * ========================================================================== */


.fullscreen{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-width: 970px;
	overflow: hidden;
	height: 900px;

	&__forest{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 50;
	}
}

/* ==========================================================================
 * forest
 * ========================================================================== */


.forest{

	&__table{
		position: absolute;
		left: 50%;
		top: 40px;
		margin-left: 148px;
		transform: scale(.51);
		display: none;

		&--visible{
			display: block;
		}
	}

	&__item{
		position: absolute;
		top: 0px;
		left: 50%;
		margin-left: -2800px;
		transform-origin: 50% 0%;
		/*opacity: .3;*/
		display: none;

		&--visible{
			display: block;
		}

		&--b1{
			top: 51px;
			margin-left: 147px;
			transform: scale(.51);
		}

		&--b2{
			top: 37px;
			margin-left: 147px;
			transform: scale(.51);
		}

		&--b3{
			top: 25px;
			margin-left: 147px;
			transform: scale(.51);
		}

		&--b4{
			top: 21px;
			margin-left: 147px;
			transform: scale(.51);
		}

		&--b5{
			top: 22px;
			margin-left: 123px;
			transform: scale(.51);
		}

		&--b6{
			top: 19px;
			margin-left: 81px;
			transform: scale(.51);
		}

		&--b7{
			top: 14px;
			margin-left: 50px;
			transform: scale(.51);
		}

		&--b8{
			top: 5px;
			margin-left: 66px;
			transform: scale(.51);
		}

		&--b9{
			top: 31px;
			margin-left: 5px;
			transform: scale(.51);
		}

		&--b10{
			top: 40px;
			margin-left: -45px;
			transform: scale(.51);
		}

		&--b11{
			top: 40px;
			margin-left: -105px;
			transform: scale(.51);
		}

		&--b12{
			top: 40px;
			margin-left: -175px;
			transform: scale(.51);
		}

		&--b13{
			top: 40px;
			margin-left: -305px;
			transform: scale(.51);
		}

		&--b14{
			top: 40px;
			margin-left: -405px;
			transform: scale(.51);
		}

		&--b15{
			top: 40px;
			margin-left: -505px;
			transform: scale(.51);
		}

		&--b16{
			top: 40px;
			margin-left: -655px;
			transform: scale(.51);
		}

		&--b17{
			top: 40px;
			margin-left: -855px;
			transform: scale(.51);
		}

		&--b18{
			top: 40px;
			margin-left: -955px;
			transform: scale(.51);
		}

		&--b19{
			top: 40px;
			margin-left: -1055px;
			transform: scale(.51);
		}

		&--b23{
			top: 250px;
			margin-left: -1055px;
		}

		&--b24{
			top: 250px;
			margin-left: -855px;
		}

		&--b25{
			top: 250px;
			margin-left: -655px;
		}

		&--b26{
			top: 250px;
			margin-left: -500px;
		}

		&--b27{
			top: 250px;
			margin-left: -300px;
		}

		&--b28{
			top: 250px;
			margin-left: -100px;
		}

		&--b29{
			top: 250px;
			margin-left: 100px;
		}

		&--b30{
			top: 250px;
			margin-left: 350px;
		}

		&--b31{
			top: 250px;
			margin-left: 500px;
		}

		&--b32{
			top: 250px;
			margin-left: 700px;
		}

		&--b33{
			top: 250px;
			margin-left: 900px;
		}
	}
}

